* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

.welcome--container {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: rgba(245, 247, 251, 1);
  width: auto;
}

.welcome--title {
  color: rgba(41, 50, 100, 1);
  font-weight: 700;
  font-size: 1.9375rem;
  line-height: 2.3125rem;
  margin-bottom: 0.625rem;
}

.welcome--sub-title {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin: 0.5rem 0rem 1.8125rem 0rem;
}

.welcome--button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  width: 12.063rem;
  height: 3.25rem;
  color: rgba(245, 247, 251, 1);
  background: rgba(77, 91, 158, 1);
  border-radius: 1rem;
  border: 0.0625rem solid rgba(77, 91, 158, 1);
  cursor: pointer;
}

.welcome--formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.625rem;
  height: 30vh;
  font-size: 1.2rem;
  font-weight: 300;
  width: 20%;
}

.welcome--formContainer select {
  cursor: pointer;
  padding: 0.25rem 0.225rem 0.25rem 0.625rem;
  color: rgba(245, 247, 251, 1);
  background: rgba(77, 91, 158, 1);
  border-radius: 0.625rem;
  margin-left: auto;
  border: 1px solid rgba(77, 91, 158, 1);
}

.welcome--genre {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  width: 100%;
  line-height: 26px;
  margin-bottom: 10px;
}

.welcome--numberOfQuestions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  width: 100%;
  line-height: 26px;
  margin-bottom: 10px;
}

.welcome--difficulty {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  width: 100%;
  line-height: 26px;
  margin-bottom: 10px;
}

.main--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  min-width: 80%;
  width: 100%;
}

.main--checked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question--container {
  width: 80%;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #dbdef0;
}

.question--answer-container {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
}

.question--h2 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;

  margin-bottom: 1rem;
}

.main--score {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;

  margin-bottom: 1rem;
}

.answer--answer {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.75rem;
  text-align: center;
  border: 0.0625rem solid rgba(77, 91, 158, 1);
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  white-space: nowrap;
}

.answer--answer--checked {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.75rem;
  text-align: center;
  border: 0.0625rem solid rgba(77, 91, 158, 1);
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  white-space: nowrap;
}

.main--button {
  font-family: "Inter", sans-serif;
  color: rgba(245, 247, 251, 1);
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 500;
  text-align: center;
  background: rgba(77, 91, 158, 1);
  width: 7.5rem;
  height: 2.1875rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid rgba(77, 91, 158, 1);
  cursor: pointer;
}
